<a href="{{ post.url | url }}">
  <div class="post-card">
    <h2>{{ post.data.title }}</h2>
    <time>{{ post.date | date("dd MMM yyyy") }}</time>
    <p>{{ post.templateContent | striptags | truncate(150, true) }}</p>
  </div>
</a>
