<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <header>
  <h1>
    <a href="/" style="color: #ffcc66; text-decoration: none;">My Piano</a>
  </h1>
  {% if siteDescription %}
    <p>{{ siteDescription }}</p>
  {% endif %}
</header>

  <main class="container">
    {{ content | safe }}
  </main>

  <footer>
    &copy; 2025 My Piano. All rights reserved.
  </footer>
<script src="/assets/js/search.js"></script>
</body>
</html>
