<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
</head>
<body>
  <header>
  <h1>
    <a href="/" style="color: #ffcc66; text-decoration: none;">My Piano</a>
  </h1>
  <hr class="logo-separator">
  <h2>{{ title }}</h2>
  {% if date %}<time>{{ date | date("dd MMM yyyy") }}</time>{% endif %}
</header>

  <main class="container">
    <article class="post">
      {{ content | safe }}
    </article>
    <div class="back-button-container">
      <a href="{{ '/' | url }}" class="back-button">← Go Back</a>
    </div>
  </main>

  <footer>
    &copy; {{ "now" | date("yyyy") }} My Piano
  </footer>
</body>
</html>
