---
title: "Home"
layout: layouts/base.njk
---
<div class="search-container">
  <input type="text" id="searchInput" placeholder="Search posts by title...">
</div>

<nav class="section-nav">
  <ul>
    <li><a href="#" data-section="all" class="active">All</a></li>
    <li><a href="#" data-section="notes">Notes</a></li>
    <li><a href="#" data-section="chords">Chords</a></li>
  </ul>
</nav>
<section class="posts">
  <ul class="post-list">
    {% for post in collections.posts | reverse %}
      <li class="post-item" data-section="{{ post.data.section }}">
        {% include "components/post-card.njk" %}
      </li>
    {% endfor %}
  </ul>
</section>



<script>
const sectionLinks = document.querySelectorAll('.section-nav a');
const posts = document.querySelectorAll('.post-item');

sectionLinks.forEach(link => {
  link.addEventListener('click', e => {
    e.preventDefault();

    sectionLinks.forEach(l => l.classList.remove('active'));
    link.classList.add('active');

    const section = link.dataset.section;

    posts.forEach(post => {
      if(section === 'all' || post.dataset.section === section) {
        post.style.display = 'block';
      } else {
        post.style.display = 'none';
      }
    });
  });
});
</script>
